.homeintro {
    /* display: grid; */
    /* grid-template-columns: auto; */
    text-align: center;
/* border: solid; */
margin-left: 300px;
margin-right: 300px;
background-image: url("/public/images/happy.webp");
background-repeat: no-repeat;
background-size: cover;
height: 500px;
margin-bottom: 20px;
}
.search{
    display: flex;
    justify-content: center;
    margin: auto;
}



.wrapper{
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.layout-grid{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 20px;
    
    
}

.layout-grid> * {
    grid-template-areas: column;
}

.card{
    object-fit: cover;
}

.happy{
    border: solid;
    width: 100%;
    height: 600px;
    background-image: url("/public/images/happy.webp");
    background-repeat: no-repeat;
    background-size: cover;
}